# Virtual Environment
signupPythonPlayWrightEnv/
venv/
.venv/
env/

# Python cache
__pycache__/
*.py[cod]
*$py.class

# Playwright/Pytest
test-results/
playwright-report/
blob-report/
.pytest_cache/

# OS files
.DS_Store
Thumbs.db